<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/Cognitive-Weaponization-Matrix/assets/style.css">
</head>
<body>
    <header class="site-header" role="banner">
        <div class="wrapper">
            <a class="site-title" rel="author" href="/Cognitive-Weaponization-Matrix/">Cognitive Weaponization Matrix</a>
            <nav class="site-nav">
                <ul class="nav-menu">
                    <li class="dropdown">
                        <a href="/Cognitive-Weaponization-Matrix/Key_Concepts/Key_Concepts_description_fr.html" class="page-link">Concept FR</a>
                    </li>
                    <li class="dropdown">
                        <a href="/Cognitive-Weaponization-Matrix/Key_Concepts/Key_Concepts_description.html" class="page-link">Concept EN</a>
                    </li>
                    <li class="dropdown">
                        <a href="/Cognitive-Weaponization-Matrix/Techniques/Technique_description_fr.html" class="page-link">Techniques FR</a>
                    </li>
                    <li class="dropdown">
                        <a href="/Cognitive-Weaponization-Matrix/Techniques/Technique_description.html" class="page-link">Techniques EN</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
